In [51]:
import pandas as pd

In [52]:
df = pd.read_csv("heart.csv")

In [53]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [54]:
df.shape

(918, 12)

In [55]:
#Removing outliers

In [56]:
to_remove = df[df.Cholesterol >= (df.Cholesterol.mean() + 3*df.Cholesterol.std())].index

In [57]:
df = df.drop(to_remove)

In [58]:
df.shape

(915, 12)

In [59]:
to_remove2 = df[df.RestingBP >= (df.RestingBP.mean() + 3*df.RestingBP.std())].index

In [60]:
df = df.drop(to_remove2)

In [61]:
df = df.drop(df[df.RestingBP <= (df.RestingBP.mean() - 3*df.RestingBP.std())].index)

In [62]:
import numpy as np
np.unique(df.FastingBS)

array([0, 1], dtype=int64)

In [63]:
df = df.drop(df[df.MaxHR <= (df.MaxHR.mean() - 3*df.MaxHR.std())].index)

In [64]:
df = df.drop(df[df.Oldpeak >= (df.Oldpeak.mean() + 3*df.Oldpeak.std())].index)

In [65]:
df = df.drop(df[df.Oldpeak <= (df.Oldpeak.mean() - 3*df.Oldpeak.std())].index)

In [66]:
df.shape

(899, 12)

In [67]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000
mean,53.497219,132.027809,198.005562,0.232481,136.917686,0.861513,0.547275
std,9.456073,17.120895,107.157779,0.422649,25.356740,1.007626,0.498037
min,28.000000,80.000000,0.000000,0.000000,63.000000,-2.000000,0.000000
25%,47.000000,120.000000,174.500000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,222.000000,0.000000,138.000000,0.500000,1.000000
75%,60.000000,140.000000,266.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,185.000000,518.000000,1.000000,202.000000,4.000000,1.000000

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 899 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             899 non-null    int64
 1   Sex             899 non-null    object
 2   ChestPainType   899 non-null    object
 3   RestingBP       899 non-null    int64
 4   Cholesterol     899 non-null    int64
 5   FastingBS       899 non-null    int64
 6   RestingECG      899 non-null    object
 7   MaxHR           899 non-null    int64
 8   ExerciseAngina  899 non-null    object
 9   Oldpeak         899 non-null    float64
 10  ST_Slope        899 non-null    object
 11  HeartDisease    899 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 91.3+ KB

In [69]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [70]:
from sklearn.preprocessing import LabelEncoder

In [71]:
le = LabelEncoder()

In [72]:
df.Sex = le.fit_transform(df.Sex)

In [73]:
df.head(3) #M=1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,N,0.0,Up,0

In [83]:
#Handling dummy varaiables

In [74]:
le2 = LabelEncoder()
df.ExerciseAngina = le2.fit_transform(df.ExerciseAngina)

In [75]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,0,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,0,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,0,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,1,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,0,0.0,Up,0

In [76]:
def transform(x):
    if x=="Down": return 1
    elif x=="Flat": return 2
    else: return 3
df.ST_Slope = df.ST_Slope.apply(transform)

In [77]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,0,0.0,3,0
1,49,0,NAP,160,180,0,Normal,156,0,1.0,2,1
2,37,1,ATA,130,283,0,ST,98,0,0.0,3,0
3,48,0,ASY,138,214,0,Normal,108,1,1.5,2,1
4,54,1,NAP,150,195,0,Normal,122,0,0.0,3,0

In [78]:
np.unique(df.RestingECG)

array(['LVH', 'Normal', 'ST'], dtype=object)

In [82]:
df = pd.get_dummies(df, drop_first=True)

In [84]:
X = df.drop(["HeartDisease"], axis=1)
y = df.HeartDisease

In [86]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_scaled = sc.fit_transform(X)
X_scaled

array([[-1.42815446,  0.515943  ,  0.46590022, ..., -0.22955001,
         0.80970176, -0.48989795],
       [-0.47585532, -1.93819859,  1.63471366, ..., -0.22955001,
         0.80970176, -0.48989795],
       [-1.7455875 ,  0.515943  , -0.1185065 , ..., -0.22955001,
        -1.23502263,  2.04124145],
       ...,
       [ 0.3706328 ,  0.515943  , -0.1185065 , ..., -0.22955001,
         0.80970176, -0.48989795],
       [ 0.3706328 , -1.93819859, -0.1185065 , ..., -0.22955001,
        -1.23502263, -0.48989795],
       [-1.63977649,  0.515943  ,  0.34901888, ..., -0.22955001,
         0.80970176, -0.48989795]])

In [89]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=30)

In [120]:
from sklearn.svm import SVC

model = SVC()

In [121]:
model.fit(X_train,y_train)

SVC()

In [122]:
model.score(X_test,y_test)

0.8444444444444444

In [123]:
#PCA

In [143]:
from sklearn.decomposition import PCA
pca = PCA(0.95)

X_pca = pca.fit_transform(X_scaled)

In [144]:
X_pca.shape

(899, 13)

In [145]:
X.shape

(899, 14)

In [146]:
from sklearn.model_selection import train_test_split

X_train2, X_test2, y_train2, y_test2 = train_test_split(X_pca, y, test_size=0.2, random_state=30)

In [147]:
model2 = SVC()
model2.fit(X_train2, y_train2)

SVC()

In [148]:
model2.score(X_test2,y_test2)

0.8277777777777777